<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookmarks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-md bg-body-tertiary">

            <!--Home/Logo-->
        <div class="container-fluid d-flex align-items-center" >
            <a href="index.html" class="navbar-brand logo">Hytte</a>

                <!-- Hamburger -->
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

            
                <div class="ms-auto d-flex ">

                    <form class="p-2 d-flex"><a href="listings.html" class="btn btnNav">My listings</a></form>
                    <form class="p-2 d-flex"><a href="bookmarks.html" class="btn btnNav">Saved Properties</a></form>

                    
                    <form class="d-flex p-2">
                        <button type="button" class="btn btnNav" data-bs-toggle="modal" data-bs-target="#LoginModal">
                            Log in
                      </button>
                                                        

                                <!-- Modal -->
                            <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="LoginModalLabel">Login</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body justify-content-start">


                                        <div class="mb-3">
                                            <label for="usernameInput" class="form-label"><b>Username</b></label>
                                            <input type="text" id="usernameInput" class="form-control">
                                            </div>

                                            <div class="mb-3">
                                            <label for="passwordInput" class="form-label"><b>Password</b></label>
                                            <input type="password" id="passwordInput" class="form-control">
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Login</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                    <form class="d-flex p-2">

                        
                      <button type="button" class="btn btnNav" data-bs-toggle="modal" data-bs-target="#signUpModal">
                            Sign Up
                      </button>
                                                        

                                <!-- Modal -->
                            <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="SignUplLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="LoginModalLabel">Sign Up</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body justify-content-start">


                                        <div class="mb-3">
                                            <label for="usernameInputSU" class="form-label"><b>Username</b></label>
                                            <input type="text" id="usernameInputSU" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="passwordInputSU" class="form-label"><b>Password</b></label>
                                            <input type="password" id="passwordInputSU" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label for="emailInputSU" class="form-label"><b>Email</b></label>
                                            <input type="email" id="emailInputSU" class="form-control">
                                        </div>


                                        <h5>Your reason for signing up</h5>
                                            <div class="row">
                                                <div class="col-4 p-2">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" role="switch" id="toRent">
                                                        <label class="form-check-label" for="toRent"><strong>Rent</strong></label>
                                                    </div>
                                                </div>
                                                <div class="col-4 p-2">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" role="switch" id="toLease">
                                                        <label class="form-check-label" for="toRent"><strong>To Lease</strong></label>
                                                    </div>
                                                    </div>
                                            </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Sign up</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>

    </nav>

<div class="divWelcome container-fluid text-center py-4 width=100%">
            <h3 class="py-2 welcomeText">Saved Properties</h3> 
        </div>


    <main class="col-12 col-lg-9"> 


        <div class="container p-4">
            <div class="row g-4 justify-content-center align-items-start">

                {% for bookmark in bookmarks %}
                    <div class="col-12 col-md-6 col-lg-4" >

                        <a href="{{ url_for('property_details', property_id=bookmark.property_id) }}">
                            <div class="card border-1 d-flex" id="bookmarkCard" >
                                <!--Must add images later!!!!-->
                                <img src="" class="card-img-top rounded-2 object-fit-cover" height="220px">
                                <div class="card-body" id="bookmarkCardBody">
                                    <div class="card-text py-1 border-top">
                                        <h5><strong>{{ bookmark.name }}</strong></h5>
                                        <Strong>Price per night: </Strong> {{bookmark.price_per_night}} <br>
                                        <Strong>My notes</Strong> {{bookmark.notes}}<br>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                {%endfor%}
                {% if not bookmarks %}
                    <p class="text-center text-muted">No saved properties</p>
                {% endif %}
                
            </div>
        </div>
    
    </main>
        
    <!-- Footer -->
    <footer class="footer mt-auto py-5 bg-dark">
        <div class="text-center text-white">
            Hytte @2026 - Made by the Legend Ørjan Kjellevoll
        </div>
        
    </footer>
  </body>
</html>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>