<!DOCTYPE html> <!--Think there is some missing "render template returns somehwere in the code"-->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-md bg-body-tertiary">

            <!--Home/Logo-->
        <div class="container-fluid d-flex align-items-center" >
            <a href="index.html" class="navbar-brand logo">Hytte</a>

                <!-- Hamburger -->
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <div class="ms-auto d-flex ">

                    <form class="p-2 d-flex"><a href="listings.html" class="btn btnNav">My listings</a></form>
                    <form class="p-2 d-flex"><a href="bookmarks.html" class="btn btnNav">Saved Properties</a></form>
                    
                    <form class="d-flex p-2">
                        <button type="button" class="btn btnNav" data-bs-toggle="modal" data-bs-target="#LoginModal">
                            Log in
                      </button>
                                                        

                                <!-- Modal Login -->
                            <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="LoginModalLabel">Login</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body justify-content-start">


                                        <div class="mb-3">
                                            <label for="usernameInput" class="form-label"><b>Username</b></label>
                                            <input type="text" id="usernameInput" class="form-control">
                                            </div>

                                            <div class="mb-3">
                                            <label for="passwordInput" class="form-label"><b>Password</b></label>
                                            <input type="password" id="passwordInput" class="form-control">
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Login</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                    <form class="d-flex p-2">

                        
                      <button type="button" class="btn btnNav" data-bs-toggle="modal" data-bs-target="#signUpModal">
                            Sign Up
                      </button>
                                                        

                                <!-- Modal -->
                            <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="SignUplLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="LoginModalLabel">Sign Up</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body justify-content-start">


                                        <div class="mb-3">
                                            <label for="usernameInputSU" class="form-label"><b>Username</b></label>
                                            <input type="text" id="usernameInputSU" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="passwordInputSU" class="form-label"><b>Password</b></label>
                                            <input type="password" id="passwordInputSU" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label for="emailInputSU" class="form-label"><b>Email</b></label>
                                            <input type="email" id="emailInputSU" class="form-control">
                                        </div>


                                        <h5>Your reason for signing up</h5>
                                            <div class="row">
                                                <div class="col-4 p-2">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" role="switch" id="toRent">
                                                        <label class="form-check-label" for="toRent"><strong>Rent</strong></label>
                                                    </div>
                                                </div>
                                                <div class="col-4 p-2">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" role="switch" id="toLease">
                                                        <label class="form-check-label" for="toRent"><strong>To Lease</strong></label>
                                                    </div>
                                                    </div>
                                            </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Sign up</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>

    </nav>


        <div class="divWelcome container-fluid text-center py-4 width=100%">
            <h3 class="py-2 welcomeText">My listed properties</h3> 
        </div>


        <div class="container p-4">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddPropertyModal">
                Add Property
            </button>
        </div>

        <!-- Property Modal -->
        <div class="modal fade" id="AddPropertyModal" tabindex="-1" role="dialog" aria-labelledby="AddPropertyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddPropertyModalLabel">Add Property</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form method="POST" action="/property/add">

                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label"><b>Name</b></label>
                                        <input type="text" name="name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label"><b>Price per night</b></label>
                                        <input type="number" name="price_per_night" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label"><b>Type</b></label>
                                        <select name="property_type_id" class="form-select">
                                            <option value="1">Mountain</option>
                                            <option value="2">Woods</option>
                                            <option value="3">Fjord</option>
                                            <option value="4">Seaside</option>
                                            <option value="5">Lake</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label"><b>Address</b></label>
                                        <input type="text" name="address" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label"><b>Location</b></label>
                                        <input type="text" name="location" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label"><b>Beds</b></label>
                                        <input type="number" name="beds" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label"><b>Bedrooms</b></label>
                                        <input type="number" name="bedrooms" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label"><b>Bathrooms</b></label>
                                        <input type="number" name="bathrooms" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label"><b>Area (m²)</b></label>
                                        <input type="number" name="area" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label"><b>Description</b></label>
                                        <textarea name="description" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>

                            <h4>Facilities</h4>
                            <div class="row p-1">
                                <div class="col-4 col-md-3 col-lg-2 p-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" name="has_parking" id="Parking">
                                        <label class="form-check-label" for="Parking"><strong>Parking</strong></label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-2 p-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" name="has_wifi" id="hasWifi">
                                        <label class="form-check-label" for="hasWifi"><strong>Wifi</strong></label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-2 p-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" name="has_kitchen" id="hasKitchen">
                                        <label class="form-check-label" for="hasKitchen"><strong>Kitchen</strong></label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-2 p-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" name="has_boat" id="hasBoat">
                                        <label class="form-check-label" for="hasBoat"><strong>Boat</strong></label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-2 p-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" name="has_fireplace" id="hasFireplace">
                                        <label class="form-check-label" for="hasFireplace"><strong>Fireplace</strong></label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-2 p-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" name="has_tv" id="hasTV">
                                        <label class="form-check-label" for="hasTV"><strong>TV</strong></label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-2 p-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" name="has_washer" id="hasWasher">
                                        <label class="form-check-label" for="hasWasher"><strong>Washer</strong></label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-2 p-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" name="has_lounge" id="hasLounge">
                                        <label class="form-check-label" for="hasLounge"><strong>Lounge</strong></label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-2 p-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" name="has_sauna" id="hasSauna">
                                        <label class="form-check-label" for="hasSauna"><strong>Sauna</strong></label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-2 p-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" name="has_grill" id="hasGrill">
                                        <label class="form-check-label" for="hasGrill"><strong>Grill</strong></label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-2 p-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" name="is_pet_friendly" id="petFriendly">
                                        <label class="form-check-label" for="petFriendly"><strong>Pet friendly</strong></label>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-2 p-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" name="has_board_games" id="hasBoardgames">
                                        <label class="form-check-label" for="hasBoardgames"><strong>Boardgames</strong></label>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Add Property</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>


                                                            

        
    <main class="col-12 col-lg-9"> 
                <div class="container p-4">
                    <div class="row g-4 justify-content-center align-items-start">
                        {% for property in properties %} <!-- Jinja -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="card border-1 d-flex">
                                    {% if main_images[loop.index0] %}
                                        <img src="{{ url_for('static', filename=main_images[loop.index0]['image_url']) }}" class="card-img-top rounded-2 object-fit-cover" height="220px">
                                    {% endif %}
                                    <div class="card-body">
                                        
                                        <div class="card-text py-1 border-top"> 
                                            <h5><strong>{{ property.name }}</strong></h5>
                                            <Strong>Price per night: </Strong> {{ property.price_per_night }} <br>
                                            <Strong>Adress: </Strong> {{property.address}} <br>
                                            
                                            <Strong>Notifications: </Strong> {{property.notification_count}} <br> 
                                        </div>

                                        <!-- Modal for editing -->
                                        <div class="d-flex justify-content-end">

                                                <div class="p-2"><button class="btn btn-primary  ms-auto"   data-bs-toggle="modal" data-bs-target= "#EditModal{{ property.property_id }}">Edit</button></div>
                                                <div class="p-2"><a href="{{ url_for('property_details', property_id=property.property_id) }}" class="btn btn-primary">View</a></div> <!--Using jinja to get the correct URL by fetcing URL for given property_id details page-->
                                        </div>
                                            
                                            <div class="modal fade" id="EditModal{{ property.property_id }}" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="LoginModalLabel">Edit Property</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                </button>
                                                            </div>


                                                        <!-- Content-->
                                                        <div class="modal-body justify-content-start">
                                                            <form>

                                                            <div class="row">
                                                                
                                                                    <div class="col-12 col-md-6">
                                                                        <div class="mb-3">
                                                                            <label for="name" class="form-label"><b>Name</b></label>
                                                                            <input type="text" id="name{{property.property_id}}" class="form-control" value={{property.name}}>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6">
                                                                        <div class="mb-3">
                                                                            <label for="price" class="form-label"><b>Price</b></label>
                                                                            <input type="number" id="price{{property.price_per_night}}" class="form-control" value={{property.price_per_night}}>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6">
                                                                        <div class="mb-3">
                                                                            <label for="type" class="form-label"><strong>Type</strong></label>
                                                                                <select name="Type" id="type" class="form-select">
                                                                                    <option value="0">Not specified</option>
                                                                                    <option value="1">Mountain</option>
                                                                                    <option value="2">Seaside</option>
                                                                                    <option value="3">Fjord</option>
                                                                                    <option value="4">Woods</option>
                                                                                </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6">
                                                                        <div class="mb-3">
                                                                            <label for="adresse" class="form-label"><b>Address</b></label>
                                                                            <input type="text" id="adresse" class="form-control" value = {{property.adress}}>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6">
                                                                        <div class="mb-3">
                                                                            <label for="location" class="form-label"><b>Location</b></label>
                                                                            <input type="text" id="location" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6">
                                                                        <div class="mb-3">
                                                                            <label for="beds" class="form-label"><b>Beds</b></label>
                                                                            <input type="number" id="beds" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6">
                                                                        <div class="mb-3">
                                                                            <label for="bedrooms" class="form-label"><b>Bedrooms</b></label>
                                                                            <input type="number" id="bedrooms" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6">
                                                                        <div class="mb-3">
                                                                            <label for="area" class="form-label"><b>Area</b></label>
                                                                            <input type="number" id="area" class="form-control">
                                                                        </div>
                                                                    </div>

                                                                        


                                                                    <h4>Facilities</h4>
                                                                    <div class="row p-1">
                                                                        <div class="col-4 col-md-3 col-lg-2 p-2">
                                                                            <div class="form-check form-switch">
                                                                                <input class="form-check-input" type="checkbox" role="switch" id="Parking" {% if property.has_parking %}checked{% endif %}>
                                                                                <label class="form-check-label" for="Parking"><strong>Parking</strong></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4 col-md-3 col-lg-2 p-2">
                                                                            <div class="form-check form-switch">
                                                                                <input class="form-check-input" type="checkbox" role="switch" id="hasWifi" {% if property.has_wifi %}checked{% endif %}>
                                                                                <label class="form-check-label" for="hasWifi"><strong>Wifi</strong></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4 col-md-3 col-lg-2 p-2">
                                                                            <div class="form-check form-switch">
                                                                                <input class="form-check-input" type="checkbox" role="switch" id="hasKitchen" {% if property.has_kitchen %}checked{% endif %}>
                                                                                <label class="form-check-label" for="hasKitchen"><strong>Kitchen</strong></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4 col-md-3 col-lg-2 p-2">
                                                                            <div class="form-check form-switch">
                                                                                <input class="form-check-input" type="checkbox" role="switch" id="hasBoat"{% if property.has_boat %}checked{% endif %}>
                                                                                <label class="form-check-label" for="hasBoat"><strong>Boat</strong></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4 col-md-3 col-lg-2 p-2">
                                                                            <div class="form-check form-switch">
                                                                                <input class="form-check-input" type="checkbox" role="switch" id="hasFireplace" {% if property.has_fireplace %}checked{% endif %}>
                                                                                <label class="form-check-label" for="hasFireplace"><strong>Fireplace</strong></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4 col-md-3 col-lg-2 p-2">
                                                                            <div class="form-check form-switch">
                                                                                <input class="form-check-input" type="checkbox" role="switch" id="hasTV" {% if property.has_tv %}checked{% endif %}>
                                                                                <label class="form-check-label" for="hasTV"><strong>TV</strong></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4 col-md-3 col-lg-2 p-2">
                                                                            <div class="form-check form-switch">
                                                                                <input class="form-check-input" type="checkbox" role="switch" id="hasWasher" {% if property.has_washer %}checked{% endif %}>
                                                                                <label class="form-check-label" for="hasWM"><strong>Washer</strong></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4 col-md-3 col-lg-2 p-2">
                                                                            <div class="form-check form-switch">
                                                                                <input class="form-check-input" type="checkbox" role="switch" id="hasLounge" {% if property.has_lounge %}checked{% endif %}>
                                                                                <label class="form-check-label" for="hasLR"><strong>Lounge</strong></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4 col-md-3 col-lg-2 p-2">
                                                                            <div class="form-check form-switch">
                                                                                <input class="form-check-input" type="checkbox" role="switch" id="hasSauna" {% if property.has_sauna %}checked{% endif %}>
                                                                                <label class="form-check-label" for="hasSauna"><strong>Sauna</strong></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4 col-md-3 col-lg-2 p-2">
                                                                            <div class="form-check form-switch">
                                                                                <input class="form-check-input" type="checkbox" role="switch" id="hasGrill" {% if property.has_grill %}checked{% endif %}>
                                                                                <label class="form-check-label" for="hasGrill"><strong>Grill</strong></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4 col-md-3 col-lg-2 p-2">
                                                                            <div class="form-check form-switch">
                                                                                <input class="form-check-input" type="checkbox" role="switch" id="petFriendly" {% if property.is_pet_friendly %}checked{% endif %}>
                                                                                <label class="form-check-label" for="petFriendly"><strong>Pet friendly</strong></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4 col-md-3 col-lg-2 p-2">
                                                                            <div class="form-check form-switch">
                                                                                <input class="form-check-input" type="checkbox" role="switch" id="hasBoardgames" {% if property.has_board_games %}checked{% endif %}>
                                                                                <label class="form-check-label" for="hasBG"><strong>Boardgames</strong></label>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <h4>Edit Photos</h4> <!--Must add logic for images, remove all this and add one Jinja loop-->

                                                                    <div class="col-12 col-md-6 col-lg-4">
                                                                        <div class="card border-5 d-flex">
                                                                            <img src="img/SøgneDrone.jpg" class="card-img-top rounded-2 object-fit-cover" height="220px" alt="Søgne">
                                                                            <div class="card-body">
                                                                                <div class="border-top py-2"> 
                                                                                    <div class="d-flex justify-content-center">
                                                                                        <button type="button" class="btn btn-outline-danger">Delete</button>
                                                                                    </div>                                                                            </div>
                                                                    
                                                                    
                                                                            </div>   
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6 col-lg-4">
                                                                        <div class="card border-5 d-flex">
                                                                            <img src="img/SøgneUte.jpg" class="card-img-top rounded-2 object-fit-cover" height="220px" alt="Søgne">
                                                                            <div class="card-body">
                                                                                <div class="border-top py-2"> 
                                                                                    <div class="d-flex justify-content-center">
                                                                                        <button type="button" class="btn btn-outline-danger">Delete</button>
                                                                                    </div>                                                                            </div>
                                                                    
                                                                    
                                                                            </div>   
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6 col-lg-4">
                                                                        <div class="card border-5 d-flex">
                                                                            <img src="img/SøgneStue.jpg" class="card-img-top rounded-2 object-fit-cover" height="220px" alt="Søgne">
                                                                            <div class="card-body">
                                                                                <div class="border-top py-2"> 
                                                                                    <div class="d-flex justify-content-center">
                                                                                        <button type="button" class="btn btn-outline-danger">Delete</button>
                                                                                    </div>
                                                                                </div>
                                                                    
                                                                    
                                                                            </div>   
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-md-6 col-lg-4">
                                                                        <div class="card border-5 d-flex">
                                                                            <img src="img/SøgneAneks.jpg" class="card-img-top rounded-2 object-fit-cover" height="220px" alt="Søgne">
                                                                            <div class="card-body">
                                                                                <div class="border-top py-2"> 
                                                                                    <div class="d-flex justify-content-center">
                                                                                        <button type="button" class="btn btn-outline-danger">Delete</button>
                                                                                    </div>
                                                                                </div>
                                                                    
                                                                    
                                                                            </div>   
                                                                        </div>
                                                                    </div>
                                                            
                                                                    

                                                                
                                                                
                                                            </div>
                                                            
                                                            </form> 

                                                        </div>


                                                        

                                                    </div>
                                                </div>
                                            </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </main>
        
    <!-- Footer -->
   <footer class="footer mt-auto py-5 bg-dark">
        <div class="text-center text-white">
            Hytte @2026 - Made by the Legend Ørjan Kjellevoll
        </div>
        
    </footer>
  </body>
</html>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>