<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ property.name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-md bg-body-tertiary">

        <div class="container-fluid d-flex align-items-center">
            <a href="{{ url_for('index') }}" class="navbar-brand logo">Hytte</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="ms-auto d-flex">

                    {% if session.get('role') == 'seller' %}
                        <form class="p-2 d-flex"><a href="{{ url_for('listings') }}" class="btn btnNav">My listings</a></form>
                    {% endif %}

                    {% if session.get('role') == 'buyer' %}
                        <form class="p-2 d-flex"><a href="{{ url_for('getBookmarks') }}" class="btn btnNav">Saved Properties</a></form>
                    {% endif %}

                    {% if session.get('username') %}
                        <div class="d-flex align-items-center px-2">
                            <span class="me-2">Welcome, <strong>{{ session.get('username') }}</strong></span>
                            <form class="p-2 d-flex">
                                <a href="{{ url_for('logout') }}" class="btn btnNav">Logout</a>
                            </form>
                        </div>
                    {% else %}
                        <form class="d-flex p-2" method="POST" action="{{ url_for('owner_login') }}">
                            <button type="button" class="btn btnNav" data-bs-toggle="modal" data-bs-target="#LoginModal">
                                Log in
                            </button>
                            <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="LoginModalLabel">Login</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="username" class="form-label"><b>Username</b></label>
                                                <input type="text" name="username" class="form-control" id="username" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="password" class="form-label"><b>Password</b></label>
                                                <input type="password" name="password" class="form-control" id="password" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" formaction="{{ url_for('owner_login') }}" class="btn btn-primary">Login as Seller</button>
                                            <button type="submit" formaction="{{ url_for('tourist_login') }}" class="btn btn-secondary">Login as Buyer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form class="d-flex p-2">
                            <a href="{{ url_for('register') }}" class="btn btnNav">Register</a>
                        </form>
                    {% endif %}

                </div>
            </div>
        </div>
    </nav>


    <main>
        <div class="container px-1 px-md-5 my-4">

            <h2>{{ property.name }}</h2>
            <p>{{ property.description }}</p>

            <!-- Images -->
            <div class="image-scroll mb-2">
                {% for image in images %}
                    <img src="{{ url_for('static', filename=image['image_url']) }}" alt="{{ property.name }}">
                {% endfor %}
            </div>

            <!-- Price -->
            <div class="mb-4">
                <h4>Price: {{ property.price_per_night }} AUD per night</h4>
            </div>

            <!-- Facilities -->
            <div class="mb-3">
                <div class="my-2 border-top border-2 border-black">
                    <div class="my-4">
                        <h4>Facilities and rooms</h4>
                        <div class="row">
                            {% if property.has_wifi %}<div class="col-6 col-md-4">&bull; WiFi</div>{% endif %}
                            {% if property.has_parking %}<div class="col-6 col-md-4">&bull; Parking</div>{% endif %}
                            {% if property.has_fireplace %}<div class="col-6 col-md-4">&bull; Fireplace</div>{% endif %}
                            {% if property.has_sauna %}<div class="col-6 col-md-4">&bull; Sauna</div>{% endif %}
                            {% if property.has_boat %}<div class="col-6 col-md-4">&bull; Boat</div>{% endif %}
                            {% if property.has_washer %}<div class="col-6 col-md-4">&bull; Washing machine</div>{% endif %}
                            {% if property.has_lounge %}<div class="col-6 col-md-4">&bull; Living room</div>{% endif %}
                            {% if property.has_tv %}<div class="col-6 col-md-4">&bull; TV</div>{% endif %}
                            {% if property.has_kitchen %}<div class="col-6 col-md-4">&bull; Kitchen</div>{% endif %}
                            <div class="col-6 col-md-4">&bull; {{ property.beds }} beds</div>
                            <div class="col-6 col-md-4">&bull; {{ property.bedrooms }} bedrooms</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Save and Enquiry -->
            <div class="my-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveModal">
                    Save
                </button>

                <!-- Modal-->
                <div class="modal fade" id="saveModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Save Property</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <!-- Only one form, inside the modal -->
                            <form method="POST" action="{{ url_for('addBookmark', property_id=property.property_id) }}">
                                <div class="modal-body">
                                    <label for="notes" class="form-label">Notes (optional)</label>
                                    <input type="text" name="notes" id="notes" class="form-control" placeholder="e.g. Great for summer">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!--Had to add form for enquiry, as this was not a part of the frontend from earlier-->
                <form method="POST" action="{{ url_for('send_enquiry', property_id=property.property_id) }}" class="mt-3">
                    <div class="mb-2">
                        <label for="text" class="form-label"><b>Message</b></label>
                        <textarea name="text" id="text" class="form-control" rows="3" placeholder="Your message to the owner" required></textarea>
                    </div>
                    <div class="mb-2">
                        <label for="start_date" class="form-label"><b>Check-in</b></label>
                        <input type="date" name="start_date" id="start_date" class="form-control" required>
                    </div>
                    <div class="mb-2">
                        <label for="end_date" class="form-label"><b>Check-out</b></label>
                        <input type="date" name="end_date" id="end_date" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Make Enquiry</button>
                </form>
            </div>

        </div>
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-5 bg-dark">
        <div class="text-center text-white">
            Hytte @2026 - Made by the Legend Ørjan Kjellevoll
        </div>
    </footer>
  </body>
</html>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
